.btn {
  background: #FF5500;
  border-radius: 35px;
  padding: 18px 54px;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
}

.btn:hover {
  background: #FF3D00;
}

.btn--color--white {
  color: #FF5500;
  background-color: #FFFFFF;
  border-style: solid;
  border-color: #FF5500;
  border-width: 1px;
}

.btn--color--white:hover {
  background: #FF5500;
  color: #FFFFFF;
}

.btn--about {
  padding: 18px 40px;
}

.btn--color--gray {
  background: #8E8E8E;
  color: #FFFFFF;
  padding: 18px 44px;
}

.btn--color--gray:hover {
  background: #2B2B2B;
}

.btn--color--orange {
  background: #FF5500;
  color: #FFFFFF;
  padding: 18px 44px;
}