.inner-section {
  padding: 52px 0;
}

.inner-section--bg--grey {
  background-color: #F4F5F5;
}

.inner-section__title {
  color: #1A1B1E;
  font-size: 36px;
  font-weight: 800;
  margin-bottom: 56px;
  margin-top: 28px;
  text-transform: uppercase;
}