.service {
  display: flex;
}

.services__img {
  width: 31%;
  margin-right: 4%;
}

.service__content {
  flex: 1;
}

.service__title {
  font-size: 28px;
  font-weight: 700;
  color: #000000;
  margin-top: 10px;
  margin-bottom: 21px;
}

.service__desc {
  line-height: 1.7;
  font-size: 12px;
  font-weight: 400;
  width: 508px;
  margin-bottom: 50px;
}